AltnCrossAPI/.vs/AltnCrossAPI/v16/.suo
AltnCrossAPI/.vs/AltnCrossAPI/v16/Server/sqlite3/storage.ide
AltnCrossAPI/.vs/AltnCrossAPI/v16/Server/sqlite3/storage.ide-shm
AltnCrossAPI/.vs/AltnCrossAPI/v16/Server/sqlite3/storage.ide-wal
AltnCrossAPI.Shared/bin/Debug/AltnCrossAPI.Shared.pdb
AltnCrossAPI.Shared/obj/Debug/AltnCrossAPI.Shared.csprojAssemblyReference.cache
AltnCrossAPI.Shared/obj/Debug/AltnCrossAPI.Shared.pdb
AltnCrossAPI/MyLogs/2020-05-13-api.log
AltnCrossAPI/bin/AltnCrossAPI.BusinessLogic.dll
AltnCrossAPI/bin/AltnCrossAPI.Shared.dll
AltnCrossAPI/bin/AltnCrossAPI.Shared.pdb
AltnCrossAPI/bin/AltnCrossAPI.dll
AltnCrossAPI/bin/AltnCrossAPI.dll.config
AltnCrossAPI/bin/AltnCrossAPI.pdb
AltnCrossAPI/obj/Debug/AltnCrossAPI.csprojAssemblyReference.cache
AltnCrossAPI.DataLogic/obj/Debug/AltnCrossAPI.DataLogic.dll
AltnCrossAPI.DataLogic/obj/Debug/AltnCrossAPI.DataLogic.pdb
AltnCrossAPI.Shared/bin/Debug/AltnCrossAPI.Shared.dll
AltnCrossAPI/bin/AltnCrossAPI.BusinessLogic.pdb
AltnCrossAPI/bin/AltnCrossAPI.DataLogic.dll
AltnCrossAPI/bin/AltnCrossAPI.DataLogic.pdb
AltnCrossAPI.BusinessLogic/obj/Debug/AltnCrossAPI.BusinessLogic.pdb
AltnCrossAPI.DataLogic/bin/Debug/AltnCrossAPI.DataLogic.dll
AltnCrossAPI.DataLogic/bin/Debug/AltnCrossAPI.DataLogic.pdb
AltnCrossAPI.DataLogic/bin/Debug/AltnCrossAPI.Shared.dll
AltnCrossAPI.DataLogic/bin/Debug/AltnCrossAPI.Shared.pdb
AltnCrossAPI.DataLogic/obj/Debug/AltnCrossAPI.DataLogic.csprojAssemblyReference.cache
AltnCrossAPI.BusinessLogic/bin/Debug/AltnCrossAPI.BusinessLogic.dll
AltnCrossAPI.BusinessLogic/bin/Debug/AltnCrossAPI.BusinessLogic.pdb
AltnCrossAPI.BusinessLogic/bin/Debug/AltnCrossAPI.DataLogic.dll
AltnCrossAPI.BusinessLogic/bin/Debug/AltnCrossAPI.DataLogic.pdb
AltnCrossAPI.BusinessLogic/bin/Debug/AltnCrossAPI.Shared.dll
AltnCrossAPI.BusinessLogic/bin/Debug/AltnCrossAPI.Shared.pdb
AltnCrossAPI.BusinessLogic/obj/Debug/AltnCrossAPI.BusinessLogic.csprojAssemblyReference.cache
AltnCrossAPI.BusinessLogic/obj/Debug/AltnCrossAPI.BusinessLogic.dll
AltnCrossAPI/obj/Debug/AltnCrossAPI.dll
AltnCrossAPI/obj/Debug/AltnCrossAPI.pdb
AltnCrossAPI.Shared/obj/Debug/AltnCrossAPI.Shared.dll
AltnCrossAPI.BusinessLogic/bin/Release/AltnCrossAPI.BusinessLogic.dll
AltnCrossAPI.BusinessLogic/bin/Release/Newtonsoft.Json.dll
AltnCrossAPI.BusinessLogic/obj/Debug/build.force
AltnCrossAPI.BusinessLogic/obj/Release/AltnCrossAPI.BusinessLogic.csproj.CopyComplete
AltnCrossAPI.BusinessLogic/obj/Release/AltnCrossAPI.BusinessLogic.csproj.FileListAbsolute.txt
AltnCrossAPI.BusinessLogic/obj/Release/AltnCrossAPI.BusinessLogic.csprojAssemblyReference.cache
AltnCrossAPI.BusinessLogic/obj/Release/AltnCrossAPI.BusinessLogic.dll
AltnCrossAPI.BusinessLogic/obj/Release/AltnCrossAPI.BusinessLogic.pdb
AltnCrossAPI.DataLogic/bin/Release/AltnCrossAPI.DataLogic.dll
AltnCrossAPI.DataLogic/bin/Release/AltnCrossAPI.DataLogic.dll.config
AltnCrossAPI.DataLogic/bin/Release/AltnCrossAPI.DataLogic.pdb
AltnCrossAPI.DataLogic/bin/Release/AltnCrossAPI.Shared.dll
AltnCrossAPI.DataLogic/bin/Release/AltnCrossAPI.Shared.dll.config
AltnCrossAPI.DataLogic/bin/Release/AltnCrossAPI.Shared.pdb
AltnCrossAPI.DataLogic/bin/Release/Microsoft.Extensions.Primitives.dll
AltnCrossAPI.DataLogic/bin/Release/Microsoft.Extensions.Primitives.xml
AltnCrossAPI.DataLogic/bin/Release/NLog.dll
AltnCrossAPI.DataLogic/bin/Release/NLog.xml
AltnCrossAPI.DataLogic/bin/Release/System.Buffers.dll
AltnCrossAPI.DataLogic/bin/Release/System.Buffers.xml
AltnCrossAPI.DataLogic/bin/Release/System.Memory.dll
AltnCrossAPI.DataLogic/bin/Release/System.Memory.xml
AltnCrossAPI.DataLogic/bin/Release/System.Numerics.Vectors.dll
AltnCrossAPI.DataLogic/bin/Release/System.Numerics.Vectors.xml
AltnCrossAPI.DataLogic/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
AltnCrossAPI.DataLogic/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
AltnCrossAPI.DataLogic/bin/Release/System.Web.Http.dll
AltnCrossAPI.DataLogic/bin/Release/System.Web.Http.xml
AltnCrossAPI.DataLogic/bin/Release/altn_common.dll
AltnCrossAPI.DataLogic/obj/Debug/build.force
AltnCrossAPI.DataLogic/obj/Release/AltnCrossAPI.DataLogic.csproj.CopyComplete
AltnCrossAPI.DataLogic/obj/Release/AltnCrossAPI.DataLogic.csproj.FileListAbsolute.txt
AltnCrossAPI.DataLogic/obj/Release/AltnCrossAPI.DataLogic.csprojAssemblyReference.cache
AltnCrossAPI.DataLogic/obj/Release/AltnCrossAPI.DataLogic.pdb
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/WebActivatorEx.dll
AltnCrossAPI/packages/altn_common.dll
AltnCrossAPI.BusinessLogic/bin/Release/AltnCrossAPI.BusinessLogic.dll.config
AltnCrossAPI.BusinessLogic/bin/Release/System.Memory.xml
AltnCrossAPI.BusinessLogic/bin/Release/System.Numerics.Vectors.dll
AltnCrossAPI.BusinessLogic/bin/Release/System.Numerics.Vectors.xml
AltnCrossAPI.BusinessLogic/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
AltnCrossAPI.BusinessLogic/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
AltnCrossAPI.BusinessLogic/bin/Release/System.Web.Http.dll
AltnCrossAPI.BusinessLogic/bin/Release/System.Web.Http.xml
AltnCrossAPI.DataLogic/bin/Release/Newtonsoft.Json.dll
AltnCrossAPI.DataLogic/obj/Release/AltnCrossAPI.DataLogic.dll
AltnCrossAPI.Shared/bin/Release/AltnCrossAPI.Shared.dll
AltnCrossAPI.Shared/bin/Release/AltnCrossAPI.Shared.dll.config
AltnCrossAPI.Shared/bin/Release/AltnCrossAPI.Shared.pdb
AltnCrossAPI.Shared/bin/Release/Microsoft.Extensions.Primitives.dll
AltnCrossAPI.Shared/bin/Release/Microsoft.Extensions.Primitives.xml
AltnCrossAPI.Shared/bin/Release/Microsoft.Web.Infrastructure.dll
AltnCrossAPI.Shared/bin/Release/NLog.dll
AltnCrossAPI.Shared/bin/Release/NLog.xml
AltnCrossAPI.Shared/bin/Release/Newtonsoft.Json.dll
AltnCrossAPI.Shared/bin/Release/System.Buffers.dll
AltnCrossAPI.Shared/bin/Release/System.Buffers.xml
AltnCrossAPI.Shared/bin/Release/System.Memory.dll
AltnCrossAPI.Shared/bin/Release/System.Memory.xml
AltnCrossAPI.Shared/bin/Release/System.Numerics.Vectors.dll
AltnCrossAPI.Shared/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/System.Memory.dll
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/System.Numerics.Vectors.dll
AltnCrossAPI.BusinessLogic/bin/Release/AltnCrossAPI.BusinessLogic.pdb
AltnCrossAPI.BusinessLogic/bin/Release/AltnCrossAPI.DataLogic.dll
AltnCrossAPI.BusinessLogic/bin/Release/AltnCrossAPI.DataLogic.dll.config
AltnCrossAPI.BusinessLogic/bin/Release/AltnCrossAPI.DataLogic.pdb
AltnCrossAPI.BusinessLogic/bin/Release/AltnCrossAPI.Shared.dll
AltnCrossAPI.BusinessLogic/bin/Release/AltnCrossAPI.Shared.dll.config
AltnCrossAPI.BusinessLogic/bin/Release/AltnCrossAPI.Shared.pdb
AltnCrossAPI.BusinessLogic/bin/Release/Microsoft.Extensions.Primitives.dll
AltnCrossAPI.BusinessLogic/bin/Release/Microsoft.Extensions.Primitives.xml
AltnCrossAPI.BusinessLogic/bin/Release/NLog.dll
AltnCrossAPI.BusinessLogic/bin/Release/NLog.xml
AltnCrossAPI.BusinessLogic/bin/Release/Newtonsoft.Json.xml
AltnCrossAPI.BusinessLogic/bin/Release/ShopifySharp.dll
AltnCrossAPI.BusinessLogic/bin/Release/System.Buffers.dll
AltnCrossAPI.BusinessLogic/bin/Release/System.Buffers.xml
AltnCrossAPI.BusinessLogic/bin/Release/System.Diagnostics.DiagnosticSource.dll
AltnCrossAPI.BusinessLogic/bin/Release/System.Diagnostics.DiagnosticSource.xml
AltnCrossAPI.BusinessLogic/bin/Release/System.Memory.dll
AltnCrossAPI.BusinessLogic/bin/Release/altn_common.dll
AltnCrossAPI.Shared/bin/Release/System.Numerics.Vectors.xml
AltnCrossAPI.Shared/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
AltnCrossAPI.Shared/bin/Release/System.Web.Helpers.dll
AltnCrossAPI.Shared/bin/Release/System.Web.Helpers.xml
AltnCrossAPI.Shared/bin/Release/System.Web.Http.dll
AltnCrossAPI.Shared/bin/Release/System.Web.Http.xml
AltnCrossAPI.Shared/bin/Release/System.Web.Mvc.dll
AltnCrossAPI.Shared/bin/Release/System.Web.Razor.dll
AltnCrossAPI.Shared/bin/Release/System.Web.Razor.xml
AltnCrossAPI.Shared/bin/Release/System.Web.WebPages.Deployment.dll
AltnCrossAPI.Shared/bin/Release/System.Web.WebPages.Deployment.xml
AltnCrossAPI.Shared/bin/Release/System.Web.WebPages.Razor.dll
AltnCrossAPI.Shared/bin/Release/System.Web.WebPages.Razor.xml
AltnCrossAPI.Shared/bin/Release/System.Web.WebPages.dll
AltnCrossAPI/bin/Release/Publish/bin/Swashbuckle.Core.dll
AltnCrossAPI/bin/Release/Publish/bin/System.Numerics.Vectors.dll
AltnCrossAPI/bin/Release/Publish/bin/WebActivatorEx.dll
AltnCrossAPI/obj/Debug/build.force
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/AltnCrossAPI.BusinessLogic.dll
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/AltnCrossAPI.BusinessLogic.dll.config
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/AltnCrossAPI.BusinessLogic.pdb
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/AltnCrossAPI.DataLogic.dll
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/AltnCrossAPI.DataLogic.dll.config
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/AltnCrossAPI.DataLogic.pdb
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/AltnCrossAPI.Shared.dll
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/AltnCrossAPI.Shared.dll.config
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/AltnCrossAPI.Shared.pdb
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/Swashbuckle.Core.dll
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/System.Buffers.dll
AltnCrossAPI.Shared/bin/Release/System.Web.WebPages.xml
AltnCrossAPI.Shared/obj/Release/AltnCrossAPI.Shared.csproj.CopyComplete
AltnCrossAPI.Shared/obj/Release/AltnCrossAPI.Shared.csproj.FileListAbsolute.txt
AltnCrossAPI.Shared/obj/Release/AltnCrossAPI.Shared.csprojAssemblyReference.cache
AltnCrossAPI.Shared/obj/Release/AltnCrossAPI.Shared.dll
AltnCrossAPI.Shared/obj/Release/AltnCrossAPI.Shared.pdb
AltnCrossAPI/bin/Release/Publish/bin/AltnCrossAPI.BusinessLogic.dll
AltnCrossAPI/bin/Release/Publish/bin/AltnCrossAPI.BusinessLogic.dll.config
AltnCrossAPI/bin/Release/Publish/bin/AltnCrossAPI.BusinessLogic.pdb
AltnCrossAPI/bin/Release/Publish/bin/AltnCrossAPI.DataLogic.dll
AltnCrossAPI/bin/Release/Publish/bin/AltnCrossAPI.DataLogic.dll.config
AltnCrossAPI/bin/Release/Publish/bin/AltnCrossAPI.DataLogic.pdb
AltnCrossAPI/bin/Release/Publish/bin/AltnCrossAPI.Shared.dll
AltnCrossAPI/bin/Release/Publish/bin/AltnCrossAPI.Shared.dll.config
AltnCrossAPI/bin/Release/Publish/bin/AltnCrossAPI.Shared.pdb
AltnCrossAPI/bin/Release/Publish/bin/System.Buffers.dll
AltnCrossAPI/bin/Release/Publish/bin/System.Memory.dll
AltnCrossAPI/obj/Release/AltnCrossAPI.csproj.FileListAbsolute.txt
AltnCrossAPI/obj/Release/AltnCrossAPI.csprojAssemblyReference.cache
AltnCrossAPI/obj/Release/AltnCrossAPI.dll
AltnCrossAPI/obj/Release/AltnCrossAPI.pdb
AltnCrossAPI/obj/Release/Package/PackageTmp/Web.config
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/AltnCrossAPI.dll
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/AltnCrossAPI.pdb
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/Microsoft.Extensions.Primitives.dll
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/ShopifySharp.dll
AltnCrossAPI/obj/Release/Package/PackageTmp/bin/System.Runtime.CompilerServices.Unsafe.dll
AltnCrossAPI/obj/Release/TransformWebConfig/original/Web.config
AltnCrossAPI/obj/Debug/AltnCrossAPI.csproj.FileListAbsolute.txt
AltnCrossAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AltnCrossAPI/bin/Release/Publish/Web.config
AltnCrossAPI/bin/Release/Publish/bin/AltnCrossAPI.dll
AltnCrossAPI/bin/Release/Publish/bin/AltnCrossAPI.pdb
AltnCrossAPI/bin/Release/Publish/bin/Microsoft.Extensions.Primitives.dll
AltnCrossAPI/bin/Release/Publish/bin/ShopifySharp.dll
AltnCrossAPI/bin/Release/Publish/bin/System.Runtime.CompilerServices.Unsafe.dll
AltnCrossAPI/bin/Release/Publish/bin/altn_common.dll
AltnCrossAPI.BusinessLogic/obj/Debug/AltnCrossAPI.BusinessLogic.csproj.FileListAbsolute.txt
AltnCrossAPI.BusinessLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AltnCrossAPI.DataLogic/obj/Debug/AltnCrossAPI.DataLogic.csproj.FileListAbsolute.txt
AltnCrossAPI.DataLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AltnCrossAPI.Shared/obj/Debug/AltnCrossAPI.Shared.csproj.FileListAbsolute.txt
AltnCrossAPI/Properties/PublishProfiles/FolderProfile.pubxml.user
AltnCrossAPI/obj/Release/TransformWebConfig/transformed/Web.config
AltnCrossAPI/obj/Release/_WPPLastBuildInfo.txt
AltnCrossAPI/MyLogs/2020-05-16-api.log
