<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="DebugMode" value="true"/>
    <add key="SyncExistingProducts" value="true"/>
    <add key="ServiceName" value="Altn.Service"/>
    <add key="SyncInterval" value="1"/><!-- How often in (days) base job will run. -->
    <add key="NumberOfDaysOld" value="2"/><!-- How many days older resources should be deleted. -->
    <add key="ShopifyUrl" value="--Your Shopify Store URL--"/>
    <add key="ShopAccessToken" value="--Private App Secret--" />
    <add key="ShopWebhookSecret" value="--Webhook Secret--" />
    <add key="LocationID" value="--Location ID-->" />
  </appSettings>
  <connectionStrings>
    <add name="dbConnection" connectionString="Data Source=RIHAN_DHIMAN;Initial Catalog=md_db;uid=sa;pwd=dhiman;Application Name=Altn.Service;"/>
  </connectionStrings>
</configuration>
