<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="DebugMode" value="true"/>
    <add key="SyncExistingProducts" value="true"/>
    <add key="ServiceName" value="Altn.Service"/>
    <add key="SyncInterval" value="1"/><!-- How often in (days) base job will run. -->
    <add key="NumberOfDaysOld" value="2"/><!-- How many days older resources should be deleted. -->
    <!--<add key="ShopifyUrl" value="mdaemon.myshopify.com" />
    <add key="ShopAccessToken" value="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" />
    <add key="ShopWebhookSecret" value="1cec08a2df71490babc3642bc9aa9d8b9ef857d429ed09bddd8a73ad5b022f6a" />
    <add key="LocationID" value="12440829988" />-->
    <add key="ShopifyUrl" value="rihans-international.myshopify.com" />
    <add key="ShopAccessToken" value="ca4c1c74a49b36fe122a01a34f5871f8" />
    <add key="ShopWebhookSecret" value="251c891b4f3d577940c66a5ba996271ace975c2afd29db920db319cd86c83707" />
  </appSettings>
  <connectionStrings>
    <add name="dbConnection" connectionString="Data Source=RIHAN_DHIMAN;Initial Catalog=md_db;uid=sa;pwd=dhiman;Application Name=Altn.Service;"/>
  </connectionStrings>
</configuration>
